<div id="<%= dom_id trip %>">
  <p>
    <strong>Content:</strong>
    <%= trip.content %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= trip.language %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= trip.country_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= trip.job_id %>
  </p>

</div>
